* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
    color: #f3f370;
}

ul, ol, li {
    list-style: none;
}
body{
    position: relative;
}

header{
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 10;
    color: #f3f370;
    height: 100px;
    position: absolute;
    width: 100 vw;
    padding: 10px;
    top: 81px;
    display: flex;
    position: fixed;
    font-size: 24px;

}
.linha1{
    height: 2px;
    width: 1000px;
    background-color: #f3f370;
    margin-right: 250%;
    margin: 20px 0; 
}

.img1{
    width: 320px;
    margin-left: 3%;
}
.img2{
    width: 120px; 
    margin-right: 2%;
    background-position: top;
  
}
ul{
    display: flex;
    align-items: center;
    gap: 150px;
    letter-spacing: 2px; 
    padding-inline: 20px;
    width: 85%;
}

.conteudo{
    padding: 20px; 
    margin: 20px; 
    text-align: left; 
    
    color: rgb(230, 230, 230); 
    font-size: 1.2em; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
}

section{
    height: 100vh;
}




#Elementos{
    background-image: url(./img/naruto.webp);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
    height: 100vh;  
    width: 100%;  
    display: flex;
    padding-top: 500px; 
    
}

#Elementos h1{
    font-size: 20px;
    text-align: left;
    color: white;
     margin-top: 8px;
    margin-left: 54px;
    
}
#Elementos h2{
    color:#f3f370;
    font-size: 75px;
    text-align: left;
    margin-left: 45px;
    top: 50px;
}
#Elementos h3{
    font-size: 35px;
    width: 35%;
    margin-top: 50;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top: 20px;
     word-break: break-all;  
     margin-left: 50px;  
}
.escuro{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.258);
    padding-inline: 80px;
}
body {
    margin: 0;
    padding: 0;
  }



#Episódios{
    position: relative;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px); 
    gap: 20px; 
    justify-content: center;
    align-items: center;
   
   

}


.imgkakashi{
    width: 100%;
    position: absolute ;
    top: 0;
    left: 0;
    z-index: -1;

}
.container {
    position:center; 
    
  }
  .galeria{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
  }
  .galeria div {
    width: 30%; 
    font-size: 100%;
    color: white;
    margin-left: 10%;
    margin-top: 9%;
  }
   
  
.imgkakashi1{
    height: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
}
.imgkakashi2{
   
    border-radius: 10px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.imgkakashi3{
   
    border-radius: 10px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    
}
.imgkakashi4{
    border-radius: 10px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

  

#Personagens{
    background-color: rgb(29, 3, 3);
    height: 100vh;
    
}
.fotos{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
  }


.fotos div {
    width: 30%; 
    font-size: 100%;
    color: white;
    margin-left: 10%;
    margin-top: 6%;
  }

.personagens1{
    height: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.personagens2{
    height: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.personagens3{
    height: auto;
    width: 80%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.personagens4{
    height: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#Vila{
    background-image: url(./img/cade-smith-naruto-world-map-watermark-low.jpg);
  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    
}

  
 