* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}
body{
    position: relative;
}

header{
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 10;
    color: #f3f370;
    height: 100px;
    position: absolute;
    width: 100 vw;
    padding: 10px;
    top: 81px;
    display: flex;
    font-size: 24px;

}
.linha1{
    height: 2px;
    width: 1000px;
    background-color: #f3f370;
    margin-right: 250%;
    margin: 20px 0; 
}

.img1{
    width: 320px;
    margin-left: 3%;
}
.img2{
    width: 120px; 
    margin-right: 2%;
    background-position: top;
  
}
ul{
    display: flex;
    align-items: center;
    gap: 150px;
    letter-spacing: 2px; 
    padding-inline: 20px;
    width: 85%;
}

.conteudo{
    padding: 20px; 
    margin: 20px; 
    text-align: left; 
    top: px;
    color: white; 
    font-size: 1.2em; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
}




#Elementos{
    background-image: url(./img/naruto.webp);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
    height: 100vh;  
    width: 100%;  
    display: flex;
    padding-top: 500px; 
    
}

#Elementos h1{
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 130px;
    margin-left: 54px;
    
}
#Elementos h2{
    color:#f3f370;
    font-size: 75px;
    text-align: left;
    margin-left: 45px;
    top: 50px;
}
#Elementos h3{
    font-size: 35px;
    width: 35%;
    margin-top: 50;
    text-align: left;
    color: white;
    margin-top: 20px;
     word-break: break-all;  
     margin-left: 50px;  
    

}
.img3{
    width: 100%;
}
#Personagens{
    background-color: blue;
    height: 100vh;
    
}

#Vila{
    background-color: yellow;
    height: 100vh;
}
.escuro{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.258);
    padding-inline: 80px;
}
.folhas{
    background-image: url('./img/pngwing.com\ -\ coÃÅpia.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}