* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { 
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}
body{
    position: relative;
}

header{
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 10;
    color: black;
    height: 100px;
    position: absolute;
    width: 100vw;
    padding: 10px;
    top: 81px;
    display: flex;
}
.linha1{
    height: 4px;
    width: 90%;
    background-color: #f3f370;
    margin-left: 1%;
}

.img1{
    width: 270px;
    margin-left: 2%;
}
.img2{
    width: 100px; 
  
}
ul{
    display: flex;
    align-items: center;
    gap: 200px;
    padding-inline: 20px;
    width: 85%;
}

.conteudo{
    padding: 20px; 
    margin: 20px; 
    text-align: left; 
    top: px;
    color: white; 
    font-size: 1.2em; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
}




.Elementos{
    background-image: url(./img/naruto.webp);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
    height: 100vh;  
    width: 100%;  
    display: flex;
    padding-top: 500px; 
    
}

.Elementos h1{
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 130px;
    margin-left: 54px;
    
}
.Elementos h2{
    color:#f3f370;
    font-size: 75px;
    text-align: left;
    margin-left: 45px;
    top: 50px;
}
.Elementos h3{
    font-size: 35px;
    width: 35%;
    margin-top: 50;
    text-align: left;
    color: white;
    margin-top: 20px;
     word-break: break-all;  
     margin-left: 50px;  
    

}
#Episódios{
       background-color: rgb(90, 197, 161);
       height: 100vh;
}
#Personagens{
    background-color: blue;
    height: 100vh;
}
#Vila{
    background-color: yellow;
    height: 100vh;
}

