.conteudo{
    padding: 20px; 
    margin: 20px; 
    text-align: left; 
    top: px;
    color: white; 
    font-size: 1.2em; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
}

.grupo{
    height: 100vh;
    gap: 10px;
}
#Elementos{
    background-color: tomato;
    height: 100vh;
}
#Episódios{
       background-color: rgb(90, 197, 161);
       height: 100vh;
}
#Personagens{
    background-color: blue;
    height: 100vh;
}
#Vila{
    background-color: yellow;
    height: 100vh;
}

